<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>AllowFileSelectionDialogs</key>
    <true/>
    <key>AllowOutdatedPlugins</key>
    <false/>
    <key>AlternateErrorPagesEnabled</key>
    <false/>
    <key>AlwaysOpenPdfExternally</key>
    <false/>
    <key>AutofillCreditCardEnabled</key>
    <false/>
    <key>BackgroundModeEnabled</key>
    <false/>
    <key>BlockThirdPartyCookies</key>
    <true/>
    <key>BrowserAddPersonEnabled</key>
    <false/>
    <key>BrowserGuestModeEnabled</key>
    <false/>
    <key>BrowserSignin</key>
    <integer>1</integer>
    <key>BuiltInDnsClientEnabled</key>
    <false/>
    <key>CertificateTransparencyEnforcementDisabledForCas</key>
    <array/>
    <key>CloudPrintProxyEnabled</key>
    <false/>
    <key>CloudPrintSubmitEnabled</key>
    <false/>
    <key>ComponentUpdatesEnabled</key>
    <true/>
    <key>CookiesAllowedForUrls</key>
    <array>
        <string>https://www.example.com</string>
        <string>[*.]example.edu</string>
    </array>
    <key>DefaultCookiesSetting</key>
    <integer>4</integer>
    <key>DefaultGeolocationSetting</key>
    <integer>2</integer>
    <key>DefaultNotificationsSetting</key>
    <integer>2</integer>
    <key>DefaultWebBluetoothGuardSetting</key>
    <integer>2</integer>
    <key>DisablePrintPreview</key>
    <false/>
    <key>DownloadRestrictions</key>
    <integer>1</integer>
    <key>ExtensionInstallBlacklist</key>
    <array>
        <string>*</string>
    </array>
    <key>ExtensionInstallWhitelist</key>
    <array>
        <string>cjpalhdlnbpafiamejdnhcphjbkeiagm</string>
        <string>gcbommkclmclpchllfjekcdonpmejbdp</string>
        <string>pkehgijcmpdhfbdbbnkijodmdjhbjlgp</string>
        <string>klbibkeccnjlkjkiokjodocebajanakg</string>
    </array>
    <key>ExtensionInstallForcelist</key>
    <array>
        <string>cjpalhdlnbpafiamejdnhcphjbkeiagm;https://clients2.google.com/service/update2/crx</string>
    </array>
    <key>HideWebStoreIcon</key>
    <true/>
    <key>Http09OnNonDefaultPortsEnabled</key>
    <false/>
    <key>ImportAutofillFormData</key>
    <false/>
    <key>ImportBookmarks</key>
    <false/>
    <key>ImportHistory</key>
    <false/>
    <key>ImportHomepage</key>
    <false/>
    <key>ImportSavedPasswords</key>
    <false/>
    <key>ImportSearchEngine</key>
    <false/>
    <key>IncognitoModeAvailability</key>
    <integer>1</integer>
    <key>MetricsReportingEnabled</key>
    <false/>
    <key>NetworkPredictionOptions</key>
    <integer>2</integer>
    <key>PasswordManagerEnabled</key>
    <true/>
    <key>PromotionalTabsEnabled</key>
    <false/>
    <key>RemoteAccessHostAllowGnubbyAuth</key>
    <false/>
    <key>RemoteAccessHostAllowClientPairing</key>
    <false/>
    <key>RemoteAccessHostRequireCurtain</key>
    <true/>
    <key>RemoteAccessHostFirewallTraversal</key>
    <false/>
    <key>RemoteAccessHostAllowRelayedConnection</key>
    <false/>
    <key>RemoteAccessHostTalkGadgetPrefix</key>
    <array>
        <string></string>
    </array>
    <key>SafeBrowsingEnabled</key>
    <true/>
    <key>SearchSuggestEnabled</key>
    <false/>
    <key>ShowAppsShortcutInBookmarkBar</key>
    <false/>
    <key>SpellCheckServiceEnabled</key>
    <false/>
    <key>WPADQuickCheckEnabled</key>
    <false/>
</dict>
</plist>
