---
name: default-bare

on:
  push:
  pull_request:
  workflow_dispatch:
  schedule:  # run weekly, every Tuesday 03:00
    - cron: '0 3 * * 2'
  merge_group:

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref }}
  cancel-in-progress: true

permissions: {}

jobs:
  build:
    permissions:
      contents: read
    runs-on: ${{ matrix.distribution }}-${{ matrix.version }}
    continue-on-error: ${{ matrix.experimental }}
    strategy:
      fail-fast: false
      max-parallel: 4
      matrix:
        include:
          - distribution: ubuntu
            version: 'latest'
            suite: default
            experimental: false
          - distribution: macos
            version: 'latest'
            suite: default
            experimental: false
    env:
      ANSIBLE_CALLBACKS_ENABLED: profile_tasks
      ANSIBLE_EXTRA_VARS: ""
      ANSIBLE_ROLE: juju4.chrome_config
      ANSIBLE_SUITE: ${{ matrix.suite }}

    steps:
      - name: Checkout code
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3  # v6.0.0
        with:
          path: ${{ env.ANSIBLE_ROLE }}
      - name: Set up Python
        uses: actions/setup-python@e797f83bcb11b83ae66e0230d6156d7c80228e7c  # tag=v6.0.0
        with:
          python-version: '3.x'
      - name: Cache
        uses: actions/cache@0057852bfaa89a56745cba8c7296529d2fc39830  # tag=v4.3.0
        with:
          path: |
            /var/cache/apt/archives
            /var/lib/apt
            /var/_install
          key: cache-ansible-harden-${{ steps.get-date.outputs.date }}
      - name: Install dependencies
        run: |
          python3 -m pip install --upgrade pip
          pip3 install ansible-lint flake8 yamllint
          which ansible
          pip3 install ansible
          pip3 show ansible
          ls -l $HOME/.local/bin || true
          ansible --version
          cd $GITHUB_WORKSPACE/$ANSIBLE_ROLE
          [ -f molecule/$ANSIBLE_SUITE/requirements.yml ] && ansible-galaxy install -r molecule/$ANSIBLE_SUITE/requirements.yml
          { echo '[defaults]'; echo 'callback_enabled = profile_tasks, timer'; echo 'roles_path = ../:/home/runner/.ansible/roles'; echo 'ansible_python_interpreter: /usr/bin/python3'; } >> ansible.cfg
      - name: Environment
        run: |
          set -x
          ansible --version
          ansible-config dump --only-changed -t all
          ansible-galaxy collection list || true
          ansible-galaxy role list || true
          pwd
          env
          find . -ls
        if: ${{ matrix.os != 'windows-latest'}}
      - name: run test
        run: |
          cd $GITHUB_WORKSPACE/$ANSIBLE_ROLE && ansible-playbook -i localhost, --connection=local --become -vvv test/integration/$ANSIBLE_SUITE/default.yml ${ANSIBLE_EXTRA_VARS}
        env:
          PY_COLORS: '1'
          ANSIBLE_FORCE_COLOR: '1'
        if: ${{ matrix.os != 'windows-latest'}}
      - name: idempotency run
        run: |
          cd $GITHUB_WORKSPACE/$ANSIBLE_ROLE && ansible-playbook -i localhost, --connection=local --become -vvv test/integration/$ANSIBLE_SUITE/default.yml ${ANSIBLE_EXTRA_VARS} | tee /tmp/idempotency.log | grep -q 'changed=0.*failed=0'  && (echo 'Idempotence test: pass' && exit 0)  || (echo 'Idempotence test: fail' && cat /tmp/idempotency.log && exit 0)
        if: ${{ matrix.os != 'windows-latest'}}
      - name: On failure
        run: |
          systemctl -l --no-pager status
          systemctl -l --no-pager --failed
          ls -l /usr/bin/ | egrep '(python|pip|ansible)'
          pip freeze
          pip3 freeze
          ip addr
          cat /etc/resolv.conf
          host www.google.com
          ping -c 1 www.google.com || true
          ping -c 1 8.8.8.8 || true
        if: ${{ failure() }} and ${{ matrix.os != 'windows-latest'}}
        continue-on-error: true
      - name: After script - ansible setup
        run: |
          ansible -i inventory --connection=local -m setup localhost
        if: ${{ always() }} and ${{ matrix.os != 'windows-latest'}}
        continue-on-error: true
      - name: After script - linux files
        run: |
          ls -lA /usr/share/google-chrome/extensions/ || true
          cat /usr/share/google-chrome/extensions/*.json || true
          cat /etc/chromium/policies/managed/*.json || true
        if: ${{ matrix.os == 'ubuntu-latest'}}
        continue-on-error: true
      - name: After script - files macos
        run: |
          cat /etc/chromium-browser/policies/managed/*.json || true
          cat '/Library/Managed Preferences/com.google.Chrome.plist' || true
          plutil -convert xml1 '/Library/Managed Preferences/com.google.Chrome.plist' || true
          cat '/Library/Managed Preferences/com.google.Chrome.plist' || true
          ls /Applications || true
          ls /Applications/Google\ Chrome.app/ || true
        if: ${{ matrix.os == 'macos-latest'}}
        continue-on-error: true
      # https://developers.google.com/web/updates/2017/04/headless-chrome
      # https://bugs.chromium.org/p/chromium/issues/detail?id=752747
      - name: After script - chrome headless - linux
        run: |
          chromium-browser --headless --screenshot=chrome.png https://www.google.com/ || true
          ls
          chromium-browser --headless --dump-dom https://www.google.com/ || true
          # chromium-browser --headless --dump-dom chrome://policy/ || true
          # chromium-browser --headless --dump-html chrome://policy/ || true
        if: ${{ matrix.os == 'ubuntu-latest'}}
        continue-on-error: true
      - name: After script - chrome headless - macos
        run: |
          export chromeapp="/Applications/Google Chrome.app/Contents/MacOS/Google Chrome"
          # "$chromeapp" --headless --screenshot=chrome.png https://www.google.com/ || true
          ls
          # "$chromeapp" --headless --dump-dom https://www.google.com/ || true
          # "$chromeapp" --headless --dump-dom chrome://policy/ || true
          # "$chromeapp" --headless --dump-html chrome://policy/ || true
        if: ${{ matrix.os == 'macos-latest'}}
        continue-on-error: true
